{% extends('content.html.twig') %}

{% block pagetitle %}О нас - Лысогорская РБ{% endblock %}

{% block content %}
    <h1 class="fw-bold text-center mt-5">
        ГУЗ СО &quot;Лысогорская районная больница&quot;
    </h1>
    <p>
        &nbsp;</p>
    <p>
        <strong>Полное наименование организации: </strong>Государственное учреждение здравоохранения Саратовской области
        &quot;Лысогорская районная больница&quot;</p>
    <p>
        <strong>Адрес:</strong> 412860, Саратовская обл., рп.Лысые Горы, ул. Советская, 36</p>
    <p>
        &nbsp;</p>
    <p>
        <strong>Главный врач</strong> - Ситенкова Людмила Викторовна</p>
    <p>
        <strong>Зам.главного врача по мед.части </strong>- Миронова Светлана Анатольевна</p>
    <p>
        <strong>Зам.главного врача по ЭВН</strong> - Тихонова Галина Владимировна</p>
    <p>
        &nbsp;</p>
    <p>
        <strong>Учредитель: </strong>Министерство Здравоохранения Сартовской области</p>
    <p>
        <strong>Адрес учредителя:</strong> г.Саратов, ул.Рабочая, д.144/155</p>
    <p>
        Дата государственной регистрации: 10 февраля 1994 года</p>
    <p>
        Медицинская деятельность осуществляется на основании лицензии № ЛО-64-01-004962 от 23.12.2020г., выдана
        Министерством здравоохранения Сартовской области</p>

    <h3 class="fw-bold text-center mt-5">
        Учредительные документы
    </h3>

    <p class="plugin_file">
        <a href="/media/cms_page_media/350/litsenziya-dekabr-2020.pdf">
            <img src="/static/cms/images/file_icons/pdf.gif" alt=""/>
            <span class="filetitle">Лицензия на осуществление медицинской деятельности <span
                        class="filesize">(1,8 MБ)</span></span>
        </a>
    </p>



    <p class="plugin_file">
        <a href="/media/cms_page_media/350/svid-ogrn.jpg">
            <img src="/static/cms/images/file_icons/jpg.gif" alt=""/>
            <span class="filetitle">ОГРН <span class="filesize">(467,0 KБ)</span></span>
        </a>
    </p>



    <p class="plugin_file">
        <a href="/media/cms_page_media/350/inn.jpg">
            <img src="/static/cms/images/file_icons/jpg.gif" alt=""/>
            <span class="filetitle">ИНН <span class="filesize">(445,9 KБ)</span></span>
        </a>
    </p>



    <p class="plugin_file">
        <a href="/media/cms_page_media/350/vyipiska-egryul.pdf">
            <img src="/static/cms/images/file_icons/pdf.gif" alt=""/>
            <span class="filetitle">Выписка из ЕГРЮЛ <span class="filesize">(247,7 KБ)</span></span>
        </a>
    </p>



    <p class="plugin_file">
        <a href="/media/cms_page_media/350/goszadanie_1.xls">

            <span class="filetitle">Информация о государстенном задании <span class="filesize">(252,0 KБ)</span></span>
        </a>
    </p>

    <h3 class="fw-bold text-center mt-5">
        Схема проезда
    </h3>
    <div>
        <iframe class="d-block mx-auto" height="500" src="https://yandex.ru/map-widget/v1/-/CBBrBFEbGA" width="1024"></iframe>
    </div>

    <h3 class="fw-bold text-center mt-5">
        Структура учреждения
    </h3>
    <p>
        <strong>Поликлиника</strong>
    </p>
    <p>
        Адрес: 412860, рп.Лысые Горы, ул.Советская, д.36
    </p>
    <p>
        &nbsp;
    </p>
    <p>
        <strong>Терапевтическое отделение</strong></p>
    <p>
        Адрес: 412860, рп.Лысые Горы, ул.Советская, д.36</p>
    <p>
        Зав.отделением - Ионов Константин Николаевич</p>
    <p>
        <strong>Хирургическое отделение</strong></p>
    <p>
        Адрес: 412860, рп.Лысые Горы, ул.Советская, д.36</p>
    <p>
        Зав.отделением - Козлов Виктор Яковлевич</p>
    <p>
        <strong>Акушерско-гинекологическое отделение</strong></p>
    <p>
        Адрес: 412860, рп.Лысые Горы, ул.Советская, д.36</p>
    <p>
        Зав.отделением - Благодарова Надежда Владимировна</p>
    <p>
        <strong>Детское отделение</strong></p>
    <p>
        Адрес: 412860, рп.Лысые Горы, ул.Советская, д.36</p>
    <p>
        Зав.отделением - Халакаева Асият Газимагомедовна</p>
    <p>
        <strong>Инфекционное отделение</strong></p>
    <p>
        Адрес: 412860, рп.Лысые Горы, ул.Советская, д.36&nbsp;</p>
    <p>
        Зав.отделением -&nbsp;</p>
    <p>
        <strong>Стоматологическое отделение</strong></p>
    <p>
        Адрес: 412860, рп.Лысые Горы, пер.Школьный, д.10&nbsp;</p>
    <p>
        Зав.отделением - Илькова Марианна Валентиновна</p>
    <p>
        &nbsp;</p>

    <h3 class="fw-bold text-center mt-5">
        Структурные подразделения
    </h3>

    <p>
        &nbsp;</p>
    <p>
        <strong>ОВОП с.Широкий Карамыш</strong></p>
    <p>
        Адрес: Лысогорский район, c.Широкий Карамыш, ул.Садовая, д.39</p>
    <p>
        Заведующий - Мухамадиев Бахрулло Холмуродович</p>
    <p>
        <strong>ОВОП с.Большая Дмитриевка</strong></p>
    <p>
        Адрес: Лысогорский район, с.Большая Дмитриевка, ул.Советская, д.2а&nbsp;</p>
    <p>
        Заведующий - Тулипкалиева Кульнара Алиповна</p>
    <p>
        <strong>ОВОП с.Большие Копены</strong></p>
    <p>
        Адрес: Лысогорский район, с.Большие Копены</p>
    <p>
        Заведующий - Куксов Евгений Петрович</p>
    <p>
        <strong>ОВОП п.Октябрьский</strong></p>
    <p>
        Адрес: Лысогорский район, п.Октябрьский, ул.Зеленая, д.38</p>
    <p>
        Заведующий -&nbsp; &nbsp;</p>
    <p>
        &nbsp;</p>
    <p>
        <strong>Фельдшерско-акушерские пункты:</strong></p>
    <p>
        &nbsp;</p>
    <p>
        <strong>ФАП Александровский</strong></p>
    <p>
        Адрес: Лысогорский район, с.2-ая Александровка, ул.Дорожная, д.21</p>
    <p>
        <strong>ФАП Атаевский</strong></p>
    <p>
        Адрес: Лысогорский район, с.Атаевка, ул.Школная, д.15</p>
    <p>
        <strong>ФАП Барсучинский</strong></p>
    <p>
        Адрес: Лысогорский район, п.Барсучий, ул.Набережная, д.12</p>
    <p>
        <strong>ФАП Белозерский</strong></p>
    <p>
        Адрес: Лысогорский район, с.Белое Озеро, ул.Песчаная, д.1А</p>
    <p>
        <strong>ФАП Большекаменский</strong></p>
    <p>
        Адрес: Лысогорский район, с.Болльшая Каменка</p>
    <p>
        <strong>ФАП Большерельненский</strong></p>
    <p>
        Адрес: Лысогорский район, с.Большая Рельня</p>
    <p>
        <strong>ФАП Бутырский</strong></p>
    <p>
        Адрес: Лысогорский район, с.Бутырки, ул.Молодежная, д.11</p>
    <p>
        <strong>ФАП Гремячинский</strong></p>
    <p>
        Адрес: Лысогорский район, п.Гремячий, ул.Мира, д.7&nbsp;</p>
    <p>
        <strong>ФАП Двоенский</strong></p>
    <p>
        Адрес: Лысогорский район, с.Двоенка, ул.Новая, д.18</p>
    <p>
        <strong>ФАП Ключевский</strong></p>
    <p>
        Адрес: Лысогорский район, с.Ключи, ул.Энтузиастов, д.2/1</p>
    <p>
        <strong>ФАП Липовский</strong></p>
    <p>
        Адрес: Лысогорский район, с.Липовка, ул.Центральная, д.15/2</p>
    <p>
        <strong>ФАП Невежкинский</strong></p>
    <p>
        Адрес: Лысогорский район, с.Невежкино, д.40</p>
    <p>
        <strong>ФАП Новокрасавский</strong></p>
    <p>
        Адрес: Лысогорский район, с.Новая Красавка, ул.Садовая, д.4а</p>
    <p>
        <strong>ФАП Новопесковский</strong></p>
    <p>
        Адрес: Лысогорский район, д.Новые Пески, ул.Луговая, д.23</p>
    <p>
        <strong>ФАП Первомайский</strong></p>
    <p>
        Адрес: Лысогорский район, п.Первомайский, ул.Первомайская, д.15</p>
    <p>
        <strong>ФАП Петропавловский</strong></p>
    <p>
        Адрес: Лысогорский район, с.Петропавловка, ул.Зеленая, д.8</p>
    <p>
        <strong>ФАП Раздольновский</strong></p>
    <p>
        Адрес: Лысогорский район, п.Раздольное, ул.Центральная, д.10</p>
    <p>
        <strong>ФАП Урицкий</strong></p>
    <p>
        Адрес: Лысогорский район, с.Урицкое, ул.Рабочая, д.15</p>
    <p>
        <strong>ФАП Чадаевский</strong></p>
    <p>
        Адрес: Лысогорский район, с.Чадаевка, пер.2-ой Тихий, д.2</p>
    <p>
        <strong>ФАП Шереметьевский</strong></p>
    <p>
        Адрес: Лысогорский район, с.Шереметьевка, ул.Песчаная, д.99а</p>
    <p>
        <strong>ФАП Юнгеровский</strong></p>
    <p>
        Адрес: Лысогорский район, с.Юнгеровка, ул.Центральная, д.33/1</p>
    <p>
        <strong>ФАП Яблочный</strong></p>
    <p>
        Адрес: Лысогорский район, п.Яблочный, ул.Садовая, д.60&nbsp;</p>
{% endblock %}