{% extends('content.html.twig') %}

{% block pagetitle %}Контакты - Лысогорская РБ{% endblock %}

{% block content %}
    <h1 class="fw-bold text-center mt-5 mb-3">
        Контакты
    </h1>
    <div class="alert alert-primary text-center">
        <p>
            &quot;Горячая линия&quot; по вопросам профилактики новой коронавирусной инфекции (COVID-19), внебольничных пневмоний, а также действий при появлении первых симптомов заболевания&nbsp;8 (8452) 41-13-37 с 9:00 до 17:00
        </p>
        <p>
            Скорая медицинская помощь телефон горячей линии (круглосуточно): 8(84551) 2-12-03
        </p>
        <p>
            Запись на прием к врачу,&nbsp; тел:&nbsp;8(84551) 2-17-43, 2-11-02&nbsp;
        </p>
        <p>
            Запись на вакцинацию против COVID-19, телефон call - центра: 8(84551) 2-11-02, телефон регистратуры 8(84551) 2-17-43
        </p>
    </div>

    <h3 class="fw-bold text-center mt-5 mb-3">
        Администрация ГУЗ СО &laquo;Лысогорская районная больница&raquo;
    </h3>
    <p>
        Адрес: 412860, Саратовская обл., рп.Лысые Горы, ул.Советская, д.36</p>
    <p>
        e-mail: <a href="mailto:Lgorycrb@yandex.ru">Lgorycrb@yandex.ru</a></p>
    <p>
        тел/факс: (84551) 2-15-50</p>
    <p>
        &nbsp;</p>
    <p>
        <strong>Главный врач </strong>&ndash; Ситенкова Людмила Викторовна</p>
    <p>
        График приема граждан:</p>
    <p>
        Вторник, Четверг с 09-00 до 12-00</p>
    <p>
        тел. моб: 8-906-151-47-85</p>
    <p>
        &nbsp;</p>
    <p>
        <strong>Заместитель главного врача по мед.части</strong> &ndash; Миронова Светлана Анатольевна</p>
    <p>
        График&nbsp; приема&nbsp; граждан:</p>
    <p>
        Понедельник, Вторник, Четверг, Пятница с 09-00 до 12-00</p>
    <p>
        тел. моб: 8-987-824-70-73</p>
    <p>
        &nbsp;</p>
    <p>
        <strong>Заместитель главного врача по ЭВН</strong> &ndash; Илькова Марианна Валентиновна</p>
    <p>
        График приема граждан:</p>
    <p>
        Понедельник &ndash; Пятница с 08-00 до 08-45; 11-00 &ndash; 12-30; 14-20 &ndash; 17-00</p>
    <p>
        тел: (84551) 2-20-78&nbsp;</p>
    <p>
        &nbsp;</p>
    <p>
        <strong>Председатель организации Профсоюза</strong> - Ракитин Юрий Владимирович</p>
    <p>
        моб: 8-919-825-88-00</p>

    <h3 class="fw-bold text-center mt-5 mb-3">
        Отделение скорой медицинской помощи
    </h3>

    <p>
        График работы: круглосуточно</p>
    <p>
        тел: 03; (84551) 2-12-03</p>
    <p>
        &nbsp;</p>
    <p>
        Регистратура поликлиники</p>
    <p>
        График работы: с 08 &ndash; 00 до 16 &ndash; 00</p>
    <p>
        тел: (84551) 2-17-43, вопросы связанные с откреплением и прикреплением (84551) 2-11-02</p>
    <p>
        &nbsp;</p>
    <p>
        Детская консультация</p>
    <p>
        График работы: с 08 &ndash; 00 до 16 &ndash; 00</p>
    <p>
        тел: (84551) 2-14-46</p>
    <p>
        &nbsp;</p>
    <p>
        Женская консультация</p>
    <p>
        График работы: с 08 &ndash; 00 до 16 &ndash; 00</p>
    <p>
        тел: (84551) 2-18-07</p>
    <p>
        &nbsp;</p>
    <p>
        Стоматологическое отделение</p>
    <p>
        График работы: с 08 &ndash; 00 до 16 &ndash; 00</p>
    <p>
        тел: (84551) 2-23-32</p>
    <p>
    <h3 class="fw-bold text-center mt-5 mb-3">
        Стационарные отделения
    </h3>
    <p>
        Терапевтическое отделение</p>
    <p>
        тел: (84551) 2-17-53</p>
    <p>
        &nbsp;</p>
    <p>
        Хирургическое отделение</p>
    <p>
        тел: (84551) 2-14-94</p>
    <p>
        &nbsp;</p>
    <p>
        Детское отделение</p>
    <p>
        тел: (84551) 2-13-68</p>
    <p>
        &nbsp;</p>
    <p>
        Акушерско-гинекологическое отделение / Роддом</p>
    <p>
        тел: (84551) 2-16-31</p>
    <p>
        &nbsp;</p>
    <p>
        Инфекционное отделение</p>
    <p>
        тел: (84551) 2-18-94</p>
    
    <h3 class="fw-bold text-center mt-5 mb-3">
        Отдел кадров
    </h3>
    
    <p>
        График работы: с 08 &ndash; 00 до 17 &ndash; 00</p>
    <p>
        тел: (84551) 2-12-69</p>
    <p>
        <strong>Бухгалтерия</strong></p>
    <p>
        График работы: с 08 &ndash; 00 до 17 &ndash; 00</p>
    <p>
        тел: (84551) 2-23-71; 2-12-32</p>

    <h3 class="fw-bold text-center mt-5 mb-3">
        Структурные подразделения
    </h3>

    <h4 class="fw-bold text-center mt-5 mb-3">
        Отделения врача общей практики (ОВОП)
    </h4>
    <table class="table align-middle">
        <thead>
        <tr>
            <th scope="col">
                Наименование
            </th>
            <th scope="col">
                Телефон
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                ОВОП с.Широкий Карамыш
            </td>
            <td>
                <a class="link" href="call:+78455133145">
                    +7 (84551) 3-31-45
                </a>
            </td>
        </tr>
        <tr>
            <td>
                ОВОП с.Большая Дмитриевка
            </td>
            <td>
                <a class="link" href="call:+78455133718">
                    +7 (84551) 3-37-18
                </a>
            </td>
        </tr>
        <tr>
            <td>
                ОВОП с.Большие Копены
            </td>
            <td>
                <a class="link" href="call:+78455134441">
                    +7 (84551) 3-44-41
                </a>
            </td>
        </tr>
        <tr>
            <td>
                ОВОП п.Октябрьский
            </td>
            <td>
                <a class="link" href="call:+78455138141">
                    +7 (84551) 3-81-41
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <h4 class="fw-bold text-center mt-5 mb-3">
        Фельдшерско-акушерские пункты (ФАП)
    </h4>
    <table class="table align-middle">
        <thead>
        <tr>
            <th scope="col">
                Наименование
            </th>
            <th scope="col">
                Телефон
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                ФАП Александровский
            </td>
            <td>
                <a class="link" href="call:84551">
                    84551
                </a>
            </td>
        </tr>
        <tr>
            <td>
                ФАП Атаевский
            </td>
            <td>
                <a class="link" href="call:+79050314638">
                    +7 (905) 031-46-38
                </a>
            </td>
        </tr>
        <tr>
            <td>
                ФАП Барсучинский
            </td>
            <td>
                <a class="link" href="call:+79878243003">
                    +7 (987) 824-30-03
                </a>
            </td>
        </tr>
        <tr>
            <td>
                ФАП Белозерский
            </td>
            <td>
                -
            </td>
        </tr>
        <tr>
            <td>
                ФАП Большекаменский
            </td>
            <td>
                <a class="link" href="call:+79539763341">
                    +7 (953) 976-33-41
                </a>,
                <a class="link" href="call:+79658871183">
                    +7 (965) 887-11-83
                </a>
            </td>
        </tr>
        <tr>
            <td>
                ФАП Большерельненский
            </td>
            <td>
                <a class="link" href="call:+78455134131">
                    +7 (84551) 3-41-31
                </a>
            </td>
        </tr>
        <tr>
            <td>
                ФАП Бутырский
            </td>
            <td>
                <a class="link" href="call:+79878082356">
                    +7 (987) 808-23-56
                </a>
            </td>
        </tr>
        <tr>
            <td>
                ФАП Гремячинский
            </td>
            <td>
                <a class="link" href="call:+78455135448">
                    +7 (84551) 3-54-48
                </a>
            </td>
        </tr>
        <tr>
            <td>
                ФАП Двоенский
            </td>
            <td>
                <a class="link" href="call:+78455132154">
                    +7 (84551) 3-21-54
                </a>
            </td>
        </tr>
        <tr>
            <td>
                ФАП Ключевский
            </td>
            <td>
                -
            </td>
        </tr>
        <tr>
            <td>
                ФАП Липовский
            </td>
            <td>
                <a class="link" href="call:+79042448933">
                    +7 (904) 244-89-33
                </a>
            </td>
        </tr>
        <tr>
            <td>
                ФАП Невежкинский
            </td>
            <td>
                <a class="link" href="call:+79616499322">
                    +7 (961) 649-93-22
                </a>
            </td>
        </tr>
        <tr>
            <td>
                ФАП Новокрасавский
            </td>
            <td>
                <a class="link" href="call:+78455137143">
                    +7 (84551) 3-71-43
                </a>
            </td>
        </tr>
        <tr>
            <td>
                ФАП Новопесковский
            </td>
            <td>
                -
            </td>
        </tr>
        <tr>
            <td>
                ФАП Первомайский
            </td>
            <td>
                <a class="link" href="call:+79271686054">
                    +7 (927) 168-60-54
                </a>,
                <a class="link" href="call:+79172045899">
                    +7 (917) 204-58-99
                </a>
            </td>
        </tr>
        <tr>
            <td>
                ФАП Петропавловский
            </td>
            <td>
                <a class="link" href="call:+79061534097">
                    +7 (906) 153-40-97
                </a>,
                <a class="link" href="call:+79539776656">
                    +7 (953) 977-66-56
                </a>
            </td>
        </tr>
        <tr>
            <td>
                ФАП Раздольновский
            </td>
            <td>
                <a class="link" href="call:+79063096895">
                    +7 (906) 309-68-95
                </a>
            </td>
        </tr>
        <tr>
            <td>
                ФАП Урицкий
            </td>
            <td>
                <a class="link" href="call:+79626203271">
                    +7 (962) 620-32-71
                </a>
            </td>
        </tr>
        <tr>
            <td>
                ФАП Чадаевский
            </td>
            <td>
                <a class="link" href="call:+79271524023">
                    +7 (927) 152-40-23
                </a>
            </td>
        </tr>
        <tr>
            <td>
                ФАП Шереметьевский
            </td>
            <td>
                <a class="link" href="call:+78455135140">
                    +7 (84551) 3-51-40
                </a>
            </td>
        </tr>
        <tr>
            <td>
                ФАП Юнгеровский
            </td>
            <td>
                <a class="link" href="call:+79170254387">
                    +7 (917) 025-43-87
                </a>
            </td>
        </tr>
        <tr>
            <td>
                ФАП Яблочный
            </td>
            <td>
                <a class="link" href="call:+78455135645">
                    +7 (84551) 3-56-45
                </a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}