{% extends('base.html.twig') %}

{% block body %}
    <section class="container bg-light mt-2 p-3">
        {% for message in app.flashes('fail') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
{% endblock %}