{% extends('base.html.twig') %}

{% block beforecontent %}
    {{ include('components/slides.html.twig') }}
{% endblock %}

{% block body %}
    <section class="container bg-light my-3 py-3 px-5">
        {% block content %}{% endblock %}
    </section>
{% endblock %}