{% extends('base.html.twig') %}

{% block body %}
    <section class="container mt-2 p-3">
        {% for message in app.flashes('fail') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row justify-content-center">
            <div class="col-md-6 bg-light text-center px-5 pt-5">
                {% block beforeform %}{% endblock %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 bg-light p-5">
                {% block form %}{% endblock %}
            </div>
        </div>
    </section>
{% endblock %}